* {
    font-family: "Roboto", sans-serif;
}

body {
    text-align: center;
    color: rgb(54, 54, 54);
}

.canvas {
    background-color: rgb(246, 247, 247);
    margin: 20px;
    margin-top: 2%;
    border-radius: 5px;
    /* height: 1500px; */
    margin-bottom: 10%;
}

.up {

    font-weight: 500;
    font-size: 1.1em;
    text-align: center;
}

.imge {
    margin: 0 auto;
    background-color: white;
    max-width: 90%;
}

#img-div {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding: 20px;
}

#tribute-info {
    display: inline-block;
    max-width: 80%;
    align-items: center;
    justify-content: center;
}

ul>li {
    text-align: left;
    margin-top: 3%;
}

h1 {
    padding-top: 50px;
}

#image {
    max-width: 100%;
}
